<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farmer's friend</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet'
        type='text/css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/templatemo-style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <script type="text/JavaScript" src="/static/js/cities.js"></script>
    <style>
        html body {
            background-color: #e4e4e4;
        }
    </style>
</head>
<body>

<div class="tm-top-header">
    <div class="container">
        <div class="row">
            <div class="tm-top-header-inner">
                <div class="tm-logo-container">

                    <h1 class="tm-site-name tm-handwriting-font">Farmer's Friend</h1>
                </div>
                <div class="mobile-menu-icon">
                    <i class="fa fa-bars"></i>
                </div>
                <nav class="tm-nav">
                    <ul>

                        <li><a href="/">Home</a></li>
                        <li><a href="crop.html" class="active">Crop </a></li>
                        <li><a href="fertilizer.html">Fertilizer</a></li>
                        <li><a href="disease.html">Disease</a></li>
                        <li><a href="yield.html">Yield</a></li>
                        <li><a href="pesticide.html">Pesticide</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<h2 style="text-align: center; margin: 0px; color: black">
    <br>
    <b>CROP RECOMMENDATION</b>
</h2>
<br />

    <div class="light-gray-bg">
        <div  style="
                width: 350px;
                height: 50rem;
                margin: 0px auto;
                color: black;
                border-radius: 25px;
                padding: 10px 10px;
            ">

            <form action="/submit" method="POST">

                <div class="form-group">
                    <label for="nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
                    <input type="text" class="form-control" id="nitrogen" placeholder="Enter nitrogen value" name="nitrogen" style="font-weight: bold"
        required>


                </div>
                <div class="form-group">
                    <label for="phosphorous" style="font-size: 17px"><b>Phosphorous</b></label>
                    <input type="text" class="form-control" id="phosphorous" placeholder="Enter phosphorous value" name="phosphorous" style="font-weight: bold"
        required>


                </div>
                <div class="form-group ">
                    <label for="potassium" style="font-size: 17px"><b>potassium</b></label>
                    <input type="text" class="form-control" id="pottassium" placeholder="Enter potassium value" name="potassium" style="font-weight: bold"
        required>
                
                
                </div>
                <div class="form-group">
                    <label for="temperature" style="font-size: 17px"><b>Temperature</b></label>
                    <input type="text" class="form-control" id="temperature" placeholder="Enter temperature value" name="temperature" style="font-weight: bold"
        required>


                </div>
                <div class="form-group">
                    <label for="humidity" style="font-size: 17px"><b>Humidity</b></label>
                    <input type="text" class="form-control" id="humidity" placeholder="Enter humidity value" name="humidity" style="font-weight: bold"
        required>
                
                
                </div>
                <div class="form-group">
                    <label for="ph" style="font-size: 17px"><b>ph</b></label>
                    <input type="text" class="form-control" id="ph" placeholder="Enter ph value" name="ph" style="font-weight: bold"
        required>
                
                
                </div>
                <div class="form-group">
                    <label for="rainfall" style="font-size: 17px">Rainfall</label>
                    <input type="text" class="form-control" id="rainfall" placeholder="Enter rainfall value" name="rainfall" style="font-weight: bold"
        required>
                
                
                </div>
                <div class="d-flex justify-content-center">
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <button type="submit"  style="color: #c79c60; font-weight: bold;
         background-color: black;
         width: 150px; height:50px; border-radius:12px; font-size: 21px;">submit</button>
         <br>
         <br>
        </div>
            </form>

            <div class="output">
                {%if prediction%}
                <h2>{{prediction}}</h2>
                {%endif%}
            </div>
        </div>

    </div>




    <script src="script.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script> <!-- jQuery -->
    <script type="text/javascript" src="/static/js/templatemo-script.js"></script> <!-- Templatemo Script -->
    <script>
        let preloader = document.getElementById("preloader");
        setTimeout(() => {
            preloader.style.display = 'None';
        }, 3000)
        const phrases = [
            "Welcome to Farmer's Friend",
            "Loading....Please wait....",

        ]
            .map((value) => ({ value, sort: Math.random() }))
            .sort((a, b) => a.sort - b.sort)
            .map(({ value }) => value);

        const nextPhrase = () => {
            message = document.createElement("p");
            phrase = phrases.pop();
            message.innerText = phrase;
            messages.appendChild(message);
            phrases.unshift(phrase);
            messages.removeChild(messages.children[0]);
        };

        nextPhrase();
        setTimeout(nextPhrase, 100);
        setInterval(nextPhrase, 2500);



    </script>
    
    </body>
    
    </html>
</body>

</html>